# Android
build/
android/app/build/
android/app/generated/

# iOS
Pods/
ios/Pods/
ios/Podfile.lock
ios/Podfile.legacy.lock
ios/Podfile.user.lock
ios/DerivedData/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
build/macos/
macos/Flutter/Flutter.xcworkspace/
macos/Pods/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-stamp
.flutter-plugins-version
.pub/
.build/

# Web
web/build/

# Other
.vscode/
.idea/
*.iml
*.log
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcshareddata
*.xcuserdatad
*.swp
*.lock
*.tmp

